[bumpversion]
current_version = 1.0.0
commit = True
tag = False

[bumpversion:file:docs/source/conf.py]

[bumpversion:file:docs/source/installation.rst]

[bumpversion:file:scripts/crosscor]

[bumpversion:file:scripts/README]

[bumpversion:file:VERSION]

