.. {{ ansible_managed }}

.. |amqp_program|    replace:: {{ amqp_program }}
.. |amqp_server|     replace:: {{ amqp_server }}
.. |amqp_port|       replace:: {{ amqp_port }}
.. |amqp_mgmt_port|  replace:: {{ amqp_mgmt_port }}

